.header{
    width: 100%;
    height: 8vh;
    background-color: white;
    display: flex;
}

.fixed{
    position: fixed;
    top: 0;
    z-index: 15165;
    transform: translateY(-120%);
    animation: 1s fromTop forwards;
}

@keyframes fromTop{
    from{
        transform: translateY(-120%);
    }
    to{
        transform: translateY(0);
    }
}

.left{
    width: 40%;
    height: 100%;
}

.navigation{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.center{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right{
    width: 40%;
    height: 100%;
}

.logo{
    width: clamp(200px,350px,45%);
    cursor: pointer;
}

@font-face {
    font-family: FuturaLight;
    src: url(../../fonts/FuturaCyrillicMedium.ttf);
}

.link{
    text-transform: uppercase;
    font-size: 18px;
    font-family: FuturaLight;
    color: #474A51;
    position: relative;
}

.link::before{
    content: "";
    transition: .3s;
    width: 0;
    height: 2px;
    background-color: #474A51;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3px;
}

.link:hover::before{
    width: 100%;
}

.rightNavigation{
    width: 100%;
    height: 100%;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}

.icon{
    width: 30px;
    cursor: pointer;
    transition: .3s;
}

.icon:hover{
    transform: scale(1.2);
}

.dropdown{
    width: 100%;
    height: 300px;
    background-color: rgb(241, 241, 241);
    position: absolute;
    top: 8vh;
    border-top: 1px solid rgb(202, 202, 202);
    left: 0;
    transform: translateX(-110%) ;
    overflow: hidden;
    transition: .8s;
}

@media screen and (max-width: 1400px){
    .left{
        width: 50%;
    }

    .center{
        width: 30%;
    }

    .right{
        width: 20%;
    }
}

@media screen and (max-width: 1200px){
    .rightNavigation{
        gap: 15px;
    }

    .icon{
        width: 25px;
    }
}

@media screen and (max-width: 1000px){
    .right{
        display: none;
    }

    .center{
        order: 1;
        width: 40%;
    }

    .left{
        order: 2;
        width: 60%;
    }
}

@media screen and (max-width: 800px){
    .link{
        font-size: 16px;
    }

    .logo{
        width: clamp(150px,350px,45%);
    }
}

@media screen and (max-width: 700px){
    .navigation{
        display: none;
    }

    .center{
        width: 50%;
    }

    .left{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burger{
        width: 40px;
        height: 40px;
    }

    .lines{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .line{
        width: 35px;
        height: 2px;
        background-color: black;
        position: absolute;
        transition: .3s;
    }

    .line1{
        transform: translateY(-7px);
    }

    .line3{
        transform: translateY(7px);
    }

    .line1Change{
        transform: translateY(0) rotate(45deg);
    }

    .line2Change{
        width: 0;
    }

    .line3Change{
        transform: translateY(0) rotate(-45deg);
    }


    .dropdown{
        width: 100%;
        height: 300px;
        background-color: rgb(241, 241, 241);
        position: absolute;
        top: 8vh;
        border-top: 1px solid rgb(202, 202, 202);
        left: 0;
        transform: translateX(-110%) ;
        overflow: hidden;
        transition: .8s;
    }
    
    .dropdownChange{
        overflow: hidden;
        transform: translateX(0);
    }

    .burgerNav{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .burgerNav > li > a{
        text-transform: uppercase;
        font-size: 18px;
        font-family: FuturaLight;
        color: #474A51;
    }
}